

<div class="container-fluid">

  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="header">
          <h4 class="title">Versement</h4>
          <div class="form-group spacer row">
            <div class="col-md-8 row">
              <form #search="ngForm" (ngSubmit)="getVersementOfIndividu()">

                <div class="col-md-2">
                  <label for="individuSearch">Individu :</label>
                </div>
                <div class="col-md-4">
                  <select class="form-control" id="individuSearch"
                          required
                          name="individuSearch" [(ngModel)]="individuSelectione"
                          #individuSearch="ngModel" (click)="chargerListIndividu()">
                    <!--[value]="..." only supports string values
                    [ngValue]="..." supports any type-->
                    <option *ngFor="let ind of individus" [ngValue]="ind">{{ind.nom}} {{ind.prenom }}</option>
                  </select>
                  <div [hidden]="individuSearch.valid || individuSearch.pristine" class="alert alert-danger">
                    individu is required
                  </div>
                </div>
                <div  class="col-md-2">
                  <button type="submit" class="btn btn-success" [disabled]="!search.form.valid">Chercher</button>
                </div>

              </form>
            </div>
            <div class="col-md-4" >
              <button class="btn btn-primary" routerLink="/newVersement"   >Ajouter Versement</button>
            </div>
          </div>
        </div>
        <div class="content table-responsive table-full-width" *ngIf="versements!=null">










          <div class="container-fluid">
            <h4>Individu:</h4>
            <div class="form-group">
              <label class="control-label">Nom:</label>
              <label> {{individuSelectione.nom}}</label>
            </div>
            <div class="form-group">
              <label class="control-label">Prenom:</label>
              <label> {{individuSelectione.prenom}}</label>
            </div>
            <div class="form-group">
              <label class="control-label">Numero de securite:</label>
              <label> {{individuSelectione.numSecurite}}</label>
            </div>


          <h4 class="spacer">Liste des versements:</h4>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Salaire</th><th>Mois Salaire</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let v of versements">
              <td>{{v.salaire}}</td>
              <td>{{v.dateVersement}}</td>
              <!--<td>
                <a (click)="editIndividu(i.idIndividu)" class="clckable">Edit</a>
              </td>
              <td>
                <a (click)="deleteIndividu(i)" class="clckable">Delete</a>
              </td>-->
            </tr>
            </tbody>
          </table>
          <div class="container">
            <ul class="nav nav-pills">
              <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages ; let i=index">
                <a class="clckable" (click)="gotoPage(i)"> {{i}}</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>






